$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$small-breakpoint: em(1024) !default;
$medium-breakpoint:  em(1264) !default;
$large-breakpoint:  em(1440) !default;
$xlarge-breakpoint: em(1920) !default;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small-breakpoint) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small-breakpoint) and (max-width: $large-breakpoint) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large-breakpoint) { @content; }
  }
}

@mixin flex-wrapper {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}

@mixin center {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

//Copy / Paste for responsive styles

// @include respond-to(handhelds) {
// }
// @include respond-to(medium-screens) {
// }
// @include respond-to(wide-screens) {
// }


html, body {
	height: 100%;
	width: 100%;
	background-color: #FAFAFA;
	font-family: 'Futura';
	margin: 0 0 0 0;
	overflow: hidden;
}

header {
	top: 0px;
	left: 100%;
	width: 50px;
	height: 50px;
	position: fixed;
	height: 150px;
	width: 100%;
	transform: rotate(90deg);
	transform-origin: left top;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
}

main {
	padding: 100px 0 0 0;
	height: 100%;
	width: 100%;
}

.color-strip {
	top: 0;
	width: 100%;
	height: 10px;
	position: absolute;
	&__strip {
		float: left;
		height: 100%;
		width: 33.3333%;
		&--pink {
			background-color: #8C475C;
		}
		&--purple {
			background-color: #C897B4;
		}
		&--blue {
			background-color: #DBC0CF;
		}
	}
}

.nav-bar {
	height: 100%;
	width: 100%;
	margin: 0 0 0 50px;

	&__item {
		cursor: pointer;
		height: 100%;
		float: left;
		width: 150px;
		line-height: 150px;
		font-size: 2em;
		text-align: center;
		transition-duration: 1s;
		&:hover {
			background-color: rgba(0,0,0,0.2);
		}
	}
}

.title {
	// color: #FAFAFA;
	z-index: 2;
	@include center;
	text-align: center;
	position: absolute;
	height: 400px;
	width: 400px;
	font-size: 15em;
}

.gallery {
	width: 600px;
	height: 600px;
	position: absolute;
	top: 50px;
	left: 50px;
	&__img {
		position: absolute;
		max-height: 600px;
		max-width: 600px;
	}
	&__nav {
		display: inline-block;
		top: 100%;
		// width: 40%;
		// height: 10%;
		// margin: 0 0 0 10px;
		position: relative;
		// margin: 
	}
	&__arrow {
		cursor: pointer;
		opacity: 0.5;
		display: inline-block;
		font-size: 5em;
		// color: white;
		&:hover {
			opacity: 1;
		}
	}
}
 


