@font-face {
  font-family: 'Futura Light';
  src: url("../fonts/Futura (Light).ttf"); }
@-webkit-keyframes pulseBg {
  0% {
    background-color: rgba(219, 191, 207, 0.5); }
  100% {
    background-color: rgba(219, 191, 207, 0.2); } }
@keyframes pulseText {
  0% {
    color: #8C475C; }
  50% {
    color: #C897B4; }
  100% {
    color: #DBC0CF; } }
html, body {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  height: 100%;
  width: 100%;
  background-color: #FAFAFA;
  font-family: "Futura";
  margin: 0 0 0 0;
  overflow: hidden; }

header {
  z-index: 1;
  top: 0px;
  left: 100%;
  width: 50px;
  height: 50px;
  position: fixed;
  height: 150px;
  width: 100%;
  transform: rotate(90deg);
  transform-origin: left top;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */ }

main {
  user-select: none;
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0; }

.hide {
  display: none; }

.ng-scope {
  width: 100%;
  height: 100%; }

.inner-container {
  transition-duration: 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clear: both; }
  @media only screen and (max-width: 64em) {
    .inner-container {
      width: 950px;
      height: 100%; } }
  @media only screen and (min-width: 64em) and (max-width: 90em) {
    .inner-container {
      width: 960px;
      height: 470px; } }
  @media only screen and (min-width: 90em) {
    .inner-container {
      width: 1440px;
      height: 720px; } }

.background-image {
  margin-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.color-strip {
  top: 0;
  width: 100%;
  height: 10px;
  position: absolute; }
  .color-strip__strip {
    float: left;
    height: 100%;
    width: 33.3333%; }
    .color-strip__strip--pink1 {
      background-color: #8C475C; }
    .color-strip__strip--pink2 {
      background-color: #C897B4; }
    .color-strip__strip--pink3 {
      background-color: #DBC0CF; }

.nav-bar {
  height: 100%;
  width: 100%;
  margin: 0 0 0 50px; }
  .nav-bar__item {
    cursor: pointer;
    height: 100%;
    float: left;
    width: 150px;
    line-height: 150px;
    font-size: 2em;
    text-align: center;
    transition-duration: 1s; }
    .nav-bar__item:hover {
      background-color: rgba(219, 191, 207, 0.5); }
    .nav-bar__item--active {
      animation: pulseBg 2s ease-in-out 0s infinite alternate-reverse; }

.title--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 400px;
  position: absolute; }
  .title--center span {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 15em; }
.title--top-left {
  cursor: pointer;
  animation: pulseText 5s ease-in-out 0s infinite alternate-reverse;
  margin: 10px 0 0 10px;
  font-size: 3em;
  color: #8C475C; }

.gallery {
  width: 100%;
  height: 100%;
  position: absolute; }
  .gallery__img {
    border-left: 10px solid #DBC0CF;
    border-bottom: 10px solid #C897B4;
    float: left;
    max-height: 100%;
    max-width: 100%; }
  .gallery__nav {
    margin: 0 20px 0 0;
    height: 100%;
    width: 10%;
    float: left;
    white-space: nowrap;
    display: inline-block;
    position: relative; }
  .gallery__arrow-wrapper {
    position: absolute;
    bottom: 0;
    height: 10%; }
  .gallery__arrow {
    position: relative;
    font-family: 'Futura Light';
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
    font-size: 5em; }
    .gallery__arrow:hover {
      opacity: 1; }
  .gallery__img-count {
    height: 10%;
    position: relative;
    top: 80%;
    width: 100%; }
    .gallery__img-count span {
      bottom: 0;
      position: absolute;
      float: left;
      font-family: 'Futura Light';
      display: inline-block;
      text-align: center;
      font-size: 2em; }

.music {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(219, 191, 207, 0.6);
  border-left: 10px solid #DBC0CF;
  border-bottom: 10px solid #C897B4;
  height: 100%;
  width: 35%;
  font-family: 'Helvetica Neue';
  font-weight: 200; }
  .music__wrapper {
    width: 95%;
    float: right;
    height: 100%; }
  .music__header {
    height: 20%;
    width: 100%;
    border-bottom: 1px solid rgba(219, 191, 207, 0.6); }
  .music__album-art {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
    width: 25%;
    padding-bottom: 25%;
    position: relative;
    background-image: url("../imgs/album-art.jpg");
    float: left; }
  .music__album-info {
    position: relative;
    list-style: none;
    float: left;
    margin: 10px 0 0 10px;
    display: inline-block; }
  .music__album-title {
    font-size: 1.8em; }
  .music__album-artist {
    font-size: 1.2em;
    color: #8C475C; }
  .music__track-list {
    height: 80%;
    width: 100%;
    overflow: scroll; }
  .music__track {
    cursor: pointer;
    clear: both;
    width: 100%;
    height: 10%;
    position: relative; }
    .music__track:before {
      position: absolute;
      right: 0;
      content: "";
      display: inline-block;
      width: 90%;
      height: 100%;
      border-bottom: 1px solid rgba(219, 191, 207, 0.6); }
  .music__track-name {
    transition-duration: 1s;
    display: inline-block;
    position: relative;
    float: left;
    width: 90%;
    height: 100%;
    font-size: 1.2em; }
    .music__track-name span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 0 0 5px;
      font-size: 1.4em; }
    @media only screen and (min-width: 64em) and (max-width: 90em) {
      .music__track-name {
        font-size: 0.9em; } }
    .music__track-name:hover {
      background-color: rgba(219, 191, 207, 0.4); }
  .music__track-number {
    display: inline-block;
    clear: both;
    height: 100%;
    width: 10%;
    float: left; }
    .music__track-number span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #dbbfcf;
      margin: 0 0 0 5px;
      font-size: 1.4em; }

.about {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  height: 100%; }
  .about__copy {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0 0 5px;
    border-left: 10px solid #DBC0CF;
    border-bottom: 10px solid #C897B4;
    font-size: 1.2em;
    display: inline-block; }
    .about__copy--emphasis {
      display: inline-block;
      color: #8C475C;
      font-size: 1.3em; }

.videos {
  border-left: 10px solid #DBC0CF;
  border-bottom: 10px solid #C897B4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  height: 100%;
  width: 90%; }
  .videos__video {
    height: 100%;
    width: 100%; }
    .videos__video iframe {
      height: 100%;
      width: 100%; }

/*# sourceMappingURL=style.css.map */
