@font-face {
    font-family: 'Futura Light';
    src: url('../fonts/Futura (Light).ttf'); }

$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$main-font: 'Futura';

$small-breakpoint: em(1024) !default;
$medium-breakpoint:  em(1264) !default;
$large-breakpoint:  em(1440) !default;
$xlarge-breakpoint: em(1920) !default;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small-breakpoint) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small-breakpoint) and (max-width: $large-breakpoint) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large-breakpoint) { @content; }
  }
}

@-webkit-keyframes pulseBg {
    0% {background-color: rgba(86%, 75%, 81%, 0.5%);}
    100%   {background-color: rgba(86%, 75%, 81%, 0.2%); }
}

@keyframes pulseBg {
    0% {background-color: rgba(86%, 75%, 81%, 0.5%);}
    100%   {background-color: rgba(86%, 75%, 81%, 0.2%); }
}

@mixin flex-wrapper {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}

@mixin center {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

@mixin center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//Copy / Paste for responsive styles

// @include respond-to(handhelds) {
// }
// @include respond-to(medium-screens) {
// }
// @include respond-to(wide-screens) {
// }


html, body {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	height: 100%;
	width: 100%;
	background-color: #FAFAFA;
	font-family: $main-font;
	margin: 0 0 0 0;
	overflow: hidden;
}

header {
	top: 0px;
	left: 100%;
	width: 50px;
	height: 50px;
	position: fixed;
	height: 150px;
	width: 100%;
	transform: rotate(90deg);
	transform-origin: left top;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
}

main {
	user-select: none;
	height: 100%;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
}

div[class*="--hide"] { 
	display: none;
}

.inner-container {
	@include center;
	clear: both;
	@include respond-to(handhelds) {
		width: 950px;
		height: 100%;
	}
	@include respond-to(medium-screens) {
		width: 960px;
		height: 470px;
	}
	@include respond-to(wide-screens) {
		width: 1440px;
		height: 720px;
	}	
}

.color-strip {
	top: 0;
	width: 100%;
	height: 10px;
	position: absolute;
	&__strip {
		float: left;
		height: 100%;
		width: 33.3333%;
		&--pink1 {
			background-color: #8C475C;
		}
		&--pink2 {
			background-color: #C897B4;
		}
		&--pink3 {
			background-color: #DBC0CF;
		}
	}
}

.nav-bar {
	height: 100%;
	width: 100%;
	margin: 0 0 0 50px;

	&__item {
		cursor: pointer;
		height: 100%;
		float: left;
		width: 150px;
		line-height: 150px;
		font-size: 2em;
		text-align: center;
		transition-duration: 1s;
		&:hover {
			background-color: rgba(86%, 75%, 81%, 0.5%);
		}
		&--active {
			animation: pulseBg 2s ease-in-out 0s infinite alternate-reverse;
			// background-color: rgba(86%, 75%, 81%, 0.6%);
		}
	}
}

.title {
	@include center;
	height: 300px;
	width: 400px;
	position: absolute;
	span {
		position: absolute;
		// color: #FAFAFA;
		z-index: 2;
		text-align: center;
		font-size: 15em;	
	}
}

.gallery {
	width: 100%;
	height: 100%;
	position: absolute;
	&__img {
		@include center;
		position: absolute;
		max-height: 100%;
		max-width: 40%;
	}
	&__nav {
		// @include center;
		float: left;
		white-space: nowrap;
		display: inline-block;
		// top: 105%;
		position: relative;
	}
	&__arrow {
		font-family: 'Futura Light';
		cursor: pointer;
		opacity: 0.5;
		display: inline-block;
		font-size: 5em;
		// color: white;
		&:hover {
			opacity: 1;
		}
	}
}
 
.music {
	@include center;
	border: 1px solid rgba(86%, 75%, 81%, 0.6%);
	height: 100%;
	width: 35%;
	font-family: 'Helvetica Neue';
	font-weight: 200;
	&__wrapper {
		width: 95%;
		float: right;
		height: 100%;
	}
	&__header {
		height: 20%;
		width: 100%; // Minus Padding
		// padding: 10px 10px 10px 10px;
		border-bottom: 1px solid rgba(86%, 75%, 81%, 0.6%);
	}
	&__album-art {
		@include center-vertical;
		background-size: cover;
		width: 25%;
		padding-bottom: 25%;
		position: relative;
		background-image: url('../imgs/album-art.jpg');
		float: left;
	}
	&__album-info {
		position: relative;
		list-style: none;
		float: left;
		margin: 10px 0 0 10px;
		display: inline-block;
	}
	&__album-title {
		font-size: 1.8em;
	}
	&__album-artist {
		font-size: 1.2em;
		color: #8C475C;
	}
	&__track-list {
		height: 80%;
		width: 100%;
		overflow: scroll;
	}
	&__track {
		clear: both;
		width: 100%;
		height: 10%;
		position: relative;
		&:before {
			position: absolute;
			right: 0;
			content: "";
			display: inline-block;
			width: 90%;
			height: 100%;
			border-bottom: 1px solid rgba(86%, 75%, 81%, 0.6%);
		}
	}
	&__track-name {
		display: inline-block;
		position: relative;
		float: left;
		width: 90%;
		height: 100%;
		font-size: 1.2em;
		span {
			@include center-vertical;
			margin: 0 0 0 5px;
			font-size: 1.4em;
		}
		@include respond-to(medium-screens) {
			font-size: 0.9em;
		}
	}
	&__track-number {
		display: inline-block;
		clear: both;
		height: 100%;
		width: 10%;
		float: left;
		span {
			@include center-vertical;
			color: rgba(86%, 75%, 81%, 1);
			margin: 0 0 0 5px;
			font-size: 1.4em;
		}
	}
}






