@font-face {
  font-family: 'Futura Light';
  src: url("../fonts/Futura (Light).ttf"); }
@-webkit-keyframes pulseBg {
  0% {
    background-color: rgba(219, 191, 207, 0.5); }
  100% {
    background-color: rgba(219, 191, 207, 0.2); } }
@keyframes pulseBg {
  0% {
    background-color: rgba(219, 191, 207, 0.5); }
  100% {
    background-color: rgba(219, 191, 207, 0.2); } }
html, body {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  height: 100%;
  width: 100%;
  background-color: #FAFAFA;
  font-family: "Futura";
  margin: 0 0 0 0;
  overflow: hidden; }

header {
  top: 0px;
  left: 100%;
  width: 50px;
  height: 50px;
  position: fixed;
  height: 150px;
  width: 100%;
  transform: rotate(90deg);
  transform-origin: left top;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */ }

main {
  user-select: none;
  height: 100%;
  width: 100%; }

div[class*="--hide"] {
  display: none; }

.inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clear: both; }
  @media only screen and (max-width: 64em) {
    .inner-container {
      width: 950px;
      height: 100%; } }
  @media only screen and (min-width: 64em) and (max-width: 90em) {
    .inner-container {
      width: 960px;
      height: 470px; } }
  @media only screen and (min-width: 90em) {
    .inner-container {
      width: 1440px;
      height: 720px; } }

.color-strip {
  top: 0;
  width: 100%;
  height: 10px;
  position: absolute; }
  .color-strip__strip {
    float: left;
    height: 100%;
    width: 33.3333%; }
    .color-strip__strip--pink1 {
      background-color: #8C475C; }
    .color-strip__strip--pink2 {
      background-color: #C897B4; }
    .color-strip__strip--pink3 {
      background-color: #DBC0CF; }

.nav-bar {
  height: 100%;
  width: 100%;
  margin: 0 0 0 50px; }
  .nav-bar__item {
    cursor: pointer;
    height: 100%;
    float: left;
    width: 150px;
    line-height: 150px;
    font-size: 2em;
    text-align: center;
    transition-duration: 1s; }
    .nav-bar__item:hover {
      background-color: rgba(219, 191, 207, 0.5); }
    .nav-bar__item--active {
      animation: pulseBg 2s ease-in-out 0s infinite alternate-reverse; }

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 400px;
  position: absolute; }
  .title span {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 15em; }

.gallery {
  width: 100%;
  height: 100%;
  position: absolute; }
  .gallery__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-height: 100%;
    max-width: 40%; }
  .gallery__nav {
    float: left;
    white-space: nowrap;
    display: inline-block;
    position: relative; }
  .gallery__arrow {
    font-family: 'Futura Light';
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
    font-size: 5em; }
    .gallery__arrow:hover {
      opacity: 1; }

.music {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(219, 191, 207, 0.6);
  height: 100%;
  width: 35%; }
  .music__wrapper {
    width: 95%;
    float: right;
    height: 100%; }
  .music__header {
    height: 20%;
    width: calc(100% -10px);
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid rgba(219, 191, 207, 0.6); }
  .music__album-art {
    background-size: cover;
    background-image: url("../imgs/album-art.jpg");
    float: left;
    width: 30%;
    padding-bottom: 30%; }
  .music__track-list {
    height: 80%;
    width: 100%;
    overflow: scroll; }
  .music__track {
    float: right;
    border-bottom: 1px solid rgba(219, 191, 207, 0.6);
    width: 90%;
    height: 10%; }

/*# sourceMappingURL=style.css.map */
