<div class="inner-container">
	<div class="music">
		<div class="music__wrapper">
			<div class="music__header">
				<div class="music__album-art"></div>
				<ul class="music__album-info">						
					<li class="music__album-title">June</li>
					<li class="music__album-artist">Hak</li>
				</ul>
			</div>
			<div class="music__track-list">
				<div class="music__track" ng-repeat="(index, track) in tracks">
					<div class="music__track-number" ng-mouseenter="displayPlayIcon($event, true)" ng-mouseleave="displayPlayIcon($event, false)" ng-click="playTrack($event)">
						<span>{{index + 1}}</span>
					</div>
					<div class="music__track-name">
						<span>{{track}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
