<div class="inner-container">
	<div class="videos">
<!-- 		<div class="gallery__img-count">
			<span>{{index + 1}} / {{video_ids.length}}</span>
		</div>
		<div class="gallery__arrow-wrapper">
			<div class="gallery__arrow gallery__arrow--back" ng-click="decrementIndex(video_ids)"><</div>
			<div class="gallery__arrow gallery__arrow--forward" ng-click="incrementIndex(video_ids)">></div>
		</div> -->
		<div class="videos__video">
			<iframe src="https://www.youtube.com/embed/b_jx0XvpTVo" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>